/*============
Import Fonts
==============*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Kaushan+Script&display=swap");

/*============
Page variables
==============*/

:root {
  /*color scheme*/
  --colour_dark: hsl(210, 10%, 23%);
  --colour_light: hsl(210, 17%, 98%);
  --colour_highlight: hsl(210, 77%, 36%);
  --colour_highlight_fade: hsla(210, 77%, 36%, 0.5);

  /*font*/
  --font: "Roboto", Verdana, sans-serif;
  --header_font: "Kaushan Script", Georgia, serif;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}

/*===============================
Global styles and reset defaults
================================*/

body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*reset default font - never shall Time New Roman be seen again!*/
h1,
h2,
h3,
p,
li,
figcaption {
  font-family: “Trebuchet MS”, Verdana, sans-serif;
}

/*================
Page Heading
=================*/

header {
  background-color: var(--colour-dark, #343a40);
}

header h1 {
  background-color: var(--colour_highlight, #155ca2);
  padding: 0.3em 0.5em;
  border-bottom: solid 2px black;
  color: var(--colour_light, #f8f9fa);
  text-shadow: 2px 2px 1px black;
  text-align: center;
  font-size: 2.5em;
  line-height: 1.5;
}

/*======
Nav Menu
========*/

nav {
  padding: 1em;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
}

nav ul li {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colour_light, #f8f9fa);
  border: solid 3px black;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  color: black;
}

nav ul li a {
  width: 100%;
  color: inherit;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bolder;
}

nav ul li:hover {
  border: 3px solid var(--colour_highlight, #155ca2);
  color: var(--colour_highlight, #155ca2);
}
/*================
Section Styles
=================*/

main {
  background-color: var(--colour_highlight);
  border: solid 2px black;
}

section {
  position: relative;
}

section > h2 {
  background-color: var(--colour_light, #f8f9fa);
  padding: 0.5em;
  font-size: 1.5em;
}

section > ul {
  margin: 0.5em;
  padding: none;
  list-style: none;
}

section > ul li {
  margin: 0.5em;
  padding: 0.5em;
  color: var(--colour_light, #f8f9fa);
  border-left: 2px solid var(--colour_light, #f8f9fa);
}

section > ul li a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  padding: 0.3em;
}

section > ul li:hover {
  color: black;
  border-left: 2px solid black;
}

.text_box {
  margin: 0.5em;
  padding: 0.5em;
}

.text_box p {
  line-height: 1.5;
}

section .subsection_box {
  border: 3px solid black;
  background-color: var(--colour_light, #f8f9fa);
  margin: 1em;
}

.subsection_box ul {
  list-style-type: none;
}

.subsection_box ol {
  margin-left: 2em;
}

.subsection_box ol li {
  padding: 0.5em;
}

.subsection_box > h3 {
  color: var(--colour_light, #f8f9fa);
  background-color: black;
  padding: 0.5em;
  font-size: 1.25em;
}

.subsection_box p {
  padding: 0.3em;
}

.subsection_box .sub_menu {
  margin: 0.3em 0.5em;
  padding: 0.5em;
}

.subsection_box .sub_menu li {
  padding: 0.5em;
  font-weight: bold;
}

.subsection_box .sub_menu li:hover {
  color: var(--colour_highlight, #155ca2);
}
section .code_box {
  margin: 0.5em;
}

.code_box p {
  padding: 0.5em;
}
.code_box code {
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
  background-color: var(--colour-dark, #343a40);
  border: 3px solid black;
  color: var(--colour_light, #f8f9fa);
}

section figure {
  margin: 1em;
  border: 3px solid var(--colour_highlight, #155ca2);
}

figure figcaption {
  background-color: var(--colour_highlight, #155ca2);
  color: white;
  padding: 0.5em;
}

figure div {
  margin: 1em;
}

.example_boxes {
  background-color: hsla(210, 77%, 36%, 0.5);
  padding: 0.5em;
}

.example_boxes li {
  margin: 0.5em;
  padding: 0.5em;
  line-height: 1.5;
  font-size: 1.2em;
  border-bottom: dotted 1px black;
}

/*FONT STACK EXAMPLES*/
#f_stack_box div ul {
  display: flex;
  flex-flow: row wrap;
}

#f_stack_box div ul li {
  font-size: 1.25em;
  margin: 0.3em;
  padding: 0.5em;
  border: 1px dashed black;
}

#f_stack_box div ul li:hover {
  color: white;
  background-color: black;
}

#arial {
  font-family: sans-serif;
}

#arial_b {
  font-family: "Arial Black", sans-serif;
}

#arial_n {
  font-family: "Arial Narrow", sans-serif;
}

#arial_rb {
  font-family: "Arial Rounded MT Bold", sans-serif;
}

#avant_garde {
  font-family: "Avant Garde", sans-serif;
}

#calibri {
  font-family: Calibri, sans-serif;
}

#candara {
  font-family: Candara, sans-serif;
}

#cent_goth {
  font-family: "Century Gothic", sans-serif;
}

#franklin {
  font-family: "Franklin Gothic Medium", sans-serif;
}

#futura {
  font-family: Futura, sans-serif;
}

#geneva {
  font-family: Geneva, sans-serif;
}

#gill_sans {
  font-family: "Gill Sans", sans-serif;
}

#helvetica {
  font-family: Helvetica, sans-serif;
}

#impact {
  font-family: Impact, sans-serif;
}

#lucinda_grande {
  font-family: "Lucinda Grande", sans-serif;
}

#optima {
  font-family: Optima, sans-serif;
}

#segoe {
  font-family: "Segoe UI", sans-serif;
}

#tahoma {
  font-family: Tahoma, sans-serif;
}

#trebuchet {
  font-family: "Trebuchet MS", sans-serif;
}

#verdana {
  font-family: Verdana, sans-serif;
}

#caslon {
  font-family: "Big Caslon", serif;
}

#bodoni {
  font-family: "Bodoni MT", serif;
}

#book_antiqua {
  font-family: "Book Antiqua", serif;
}

#calisto {
  font-family: "Calisto MT", serif;
}

#cambria {
  font-family: Cambria, serif;
}

#didot {
  font-family: Didot, serif;
}

#garamund {
  font-family: Garamund, serif;
}

#georgia {
  font-family: Georgia, serif;
}

#goudy {
  font-family: "Goudy Old Style", serif;
}

#hoefler {
  font-family: "Hoefler Text", serif;
}

#lucida {
  font-family: "Lucida Bright", serif;
}

#palatino {
  font-family: Palatino, serif;
}

#perpetua {
  font-family: Perpetua, serif;
}

#rockwell {
  font-family: Rockwell, serif;
}

#rockwell_eb {
  font-family: "Rockwell Extra Bold", serif;
}

#baskerville {
  font-family: Baskerville, serif;
}

#times_new_roman {
  font-family: "Times New Roman", serif;
}

#consolas {
  font-family: Consolas, monospace;
}

#courier {
  font-family: "Courier New", monospace;
}

#lucida_c {
  font-family: "Lucida Console", monospace;
}

#lucida_type {
  font-family: "Lucida Sans Typewriter", monospace;
}

#monaco {
  font-family: Monaco, monospace;
}

#anadle {
  font-family: "Anadle Mono", monospace;
}

#copperplate {
  font-family: Copperplate, fantasy;
}

#papyrus {
  font-family: Papyrus, fantasy;
}

#brush {
  font-family: "Brush Script MT", cursive;
}

/*FONT SIZE & CLAMP EXAMPLE*/

.size_example_boxes h1 {
  font-size: 2em;
  font-weight: bolder;
  line-height: 1.5;
}

.size_example_boxes h2 {
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 1.5;
}

.size_example_boxes h3 {
  font-size: 1.17em;
  font-weight: bolder;
  line-height: 1.5;
}

.size_example_boxes h4 {
  font-size: 1em;
  font-weight: bolder;
  line-height: 1.5;
}

.size_example_boxes h5 {
  font-size: 0.83em;
  font-weight: bolder;
  line-height: 1.5;
}

.size_example_boxes h5 {
  font-size: 0.67em;
  font-weight: bolder;
  line-height: 1.5;
}

.size_example_boxes p {
  font-size: 1em;
  line-height: 1.5;
}

#fig_clamp p {
  font-size: clamp(1em, 2.5vw, 1.5em);
}

/*FONT STYLE EXAMPLES*/

#italic {
  font-style: italic;
}

#oblique {
  font-style: oblique;
}

/*FONT WEIGHT EXAMPLES*/

#bold {
  font-weight: bold;
}

#bolder {
  font-weight: bolder;
}

#lighter {
  font-weight: lighter;
}

#w100 {
  font-weight: 100;
}

#w200 {
  font-weight: 200;
}

#w300 {
  font-weight: 300;
}

#w400 {
  font-weight: 400;
}

#w500 {
  font-weight: 500;
}

#w600 {
  font-weight: 600;
}

#w700 {
  font-weight: 700;
}

#w800 {
  font-weight: 800;
}

#w900 {
  font-weight: 900;
}

/*TEXT TRANSFORM EXAMPLES*/

#upper {
  text-transform: uppercase;
}

#lower {
  text-transform: lowercase;
}

#capitalize {
  text-transform: capitalize;
}

#full_width {
  text-transform: full-width;
}

/*TEXT DECORATION EXAMPLES*/

#text_dec_underline {
  text-decoration-line: underline;
}

#text_dec_overline {
  text-decoration-line: overline;
}

#text_dec_linethrough {
  text-decoration-line: line-through;
}

#text_dec_solid {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

#text_dec_double {
  text-decoration-line: underline;
  text-decoration-style: double;
}

#text_dec_dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

#text_dec_dashed {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

#text_dec_wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

#text_line_offset_none {
  text-decoration-line: underline;
}

#text_line_offset {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

/*TEXT SHADOW EXAMPLES*/

#shadow_h {
  text-shadow: 4px 0px 2px var(--colour_highlight, #155ca2);
}

#shadow_v {
  text-shadow: 0px 4px 2px var(--colour_highlight, #155ca2);
}

#shadow_b {
  text-shadow: 4px 4px 5px var(--colour_highlight, #155ca2);
}

#shadow_m {
  text-shadow: 1px 1px 2px red, 2px 2px 3px black, 3px 3px 4px green;
}

/*TEXT ALIGN EXAMPLES*/

#right {
  text-align: right;
}

#left {
  text-align: left;
}

#center {
  text-align: center;
}

#justify {
  text-align: justify;
}

/*LINE HEIGHT EXAMPLE*/
#fig_lineheight p {
  line-height: 2;
}

/*LETTER SPACING EXAMPLE*/
#fig_letterspace p {
  letter-spacing: 4px;
}

/*WORD SPACING EXAMPLE*/
#fig_wordspace p {
  word-spacing: 6px;
}

/*FONT VARIANT EXAMPLE*/
#small-caps {
  font-variant: small-caps;
}

/*FONT KERNING EXAMPLE*/

#auto_kern {
  font-family: Baskerville, serif;
  font-kerning: auto;
}

#no_kern {
  font-family: Baskerville, serif;
  font-kerning: none;
}

#normal_kern {
  font-family: Baskerville, serif;
  font-kerning: normal;
}

/*INDENTATION EXAMPLE*/
#indent p {
  text-indent: 4em;
}

/*WHITE SPACE EXAMPLES*/
#normal_w_space p {
  white-space: normal;
}

#no_wrap_w_space p {
  white-space: no-wrap;
}

#pre_w_space p {
  white-space: pre;
  overflow-y: auto;
}

#pre_wrap_w_space p {
  white-space: pre-wrap;
}

#pre_line_w_space p {
  white-space: pre-line;
}

#pre_line_w_space p {
  white-space: break-space;
}

/*TEXT OVERFLOW EXAMPLES*/
#overflow_section div {
  width: 250px;
}

#overflow_clip p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

#overflow_ellipsis p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#overflow_string p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "---";
}

/*WORD BREAK EXAMPLES*/
#word_break p {
  word-break: normal;
}

#word_break_keep p {
  word-break: keep-all;
}

#word_break_break p {
  word-break: break-all;
}

/*WORD WRAP EXAMPLES*/

#word_wrap p {
  word-wrap: normal;
}

#word_wrap_break p {
  word-wrap: break-word;
}

/*WRITING MODE EXAMPLES*/

#w_mode_h p {
  writing-mode: horizontal-tb;
}

#w_mode_v_rl p {
  writing-mode: vertical-rl;
}

#w_mode_v_lr p {
  writing-mode: vertical-lr;
}

/*TEXT ORIENTATION EXAMPLES*/

#text_o_mixed p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#text_o_upright p {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#text_o_sideways_r p {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
}

#text_o_mixed_sideways p {
  writing-mode: vertical-lr;
  text-orientation: sideways;
}
/*====
Footer
=======*/
footer {
  background-color: var(--colour-dark, #343a40);
  color: var(--colour_light, #f8f9fa);
}

footer #all-about-me {
  padding: 0.3em;
  text-align: center;
}
p {
  line-height: 2;
}
#all-about-me p {
  line-height: 2;
}

#all-about-me a:link {
  padding: 0.2em 0.5em;
  font-size: 1.2em;
  color: var(--light-colour, #9a8c98);
}

#all-about-me a:visited {
  color: black;
}

#all-about-me a:focus,
#all-about-me a:hover,
#all-about-me a:active {
  color: var(--lightest-colour, #f2e9e4);
}
/*================
The little touches
=================*/

/*Back to top - only for small mobile screen views*/

.backtotop {
  position: absolute;
  bottom: 0;
  right: 0.8em;
  font-size: 1.5rem;
  padding: 0.2rem;
  color: black;
}

.backtotop a:link,
.backtotop a:hover,
.backtotop a:active,
.backtotop a:visited {
  color: black;
}

/*=============
Accessibility
===============*/
/*Reset to user browser preference*/

@media (prefers-reduced-motion: reduce) {
  body {
    scroll-behavior: auto;
  }
}

/*======================
Ye Olde Time Print View
========================*/

@media print {
  /*remove unneeded elements*/

  /*display footer links*/

  footer a:link {
    color: #000;
    margin: 0;
    display: block;
    font-size: 10pt;
  }

  footer a::after {
    content: " [" attr(href) "]";
  }

  footer a:link,
  footer a:visited {
    color: #000;
    background: none;
    padding: 0;
  }
}
